# BUILD FOLDERS
dist/ 
build/
target/

# DEPENDENCIES
node_modules/
vendor/
.venv/
venv/


# SYSTEM SPECIFIC
.DS_Store
.Thumbs.db

# IDE
.vscode/
.idea/
.project/
.settings/

# LOGS, Backups, ...
*.log
/.history

# SPECIFIC TO THE PROJECT
# Python cache
**/__pycache__* 

# HA Config folder
config/

# ------------------
# Personnal files for config
# ------------------
ha-templates/test connections.txt

