/.history

# Ignore all Python bytecode cache directories and files starting with __
**/__*

# ------------------
# Utils tools
# ------------------
ha-templates/test connections.txt

# Ignore everything in the config directory
config/*

# Ignore internal development container files if any
.DS_Store
*.log